.DS_Store
Thumbs.db
desktop.ini
tmp
*~
~*
*.swp
*.bak
*.backup
*.bk
.phpunit.result.cache
composer.lock
/vendor
.vimsessions
tags
/.vagrant
/.idea
workspace.xml
vcs.xml
modules.xml
*.iml
.phpstorm.meta.php
_ide_helper.php
